* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  color: red;
}

header {
  background: #808080;
  padding: 15px;
}

h1 {
  color: #FFFFFF;
}

footer {
  color: #FFFFFF;
  background: #808080;
  padding: 15px;
}

#results li {
  color: #FFFFFF;
  background: #00B7FF;
  padding: 15px;
  margin-bottom: 10px;
}

#results {
  list-style-type: none;
  padding: 5px;
}

label {
  display: block;
}

input {
  margin: 5px;
}

#tag_submit {
  display: block;
}

.tagging {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-weight: bold;
  padding-right: 5px;
}

.discovery {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 20px;
}

#filter-form {
  padding-bottom: 10px;
}

.tagmap {
  width: 438px;
  padding-bottom: 10px;
}
.taglist {
  width: 100%;
  padding-right: 10px;
}

#filter-form {
  font-weight: bold;
}

.right {
  flex-direction: row;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .discovery, .tagging {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  main {
    flex-direction: column;
  }
  .discovery, .tagging {
    float: none;
    width: 100%;
  }
  .discovery {
    margin-left: 1px;
  }
}

@media screen and (max-width: 800px) {
  .right {
    flex-direction: column;
    float: none;
    width: 100%;
  }
  .discovery {
    margin-left: 1px;
  }
}

@media screen and (max-width: 580px) {
  .tagmap {
    width: 100%;
  }
  #result-img{
    width: 100%;
    height: auto;
  }
}

